GEMINI_API_KEY="your_google_gemini_api_key_here"

# Security (Wajib disamakan dengan backend-nexus)
JWT_SECRET="ganti_dengan_secret_acak_panjang"

# Konfigurasi Elice AI
ELICE_API_KEY="your_elice_jwt_token_here"
ELICE_URL_3_6_FLASH="https://mlapi.run/.../v1"
ELICE_URL_3_1_PRO="https://mlapi.run/.../v1"
ELICE_URL_WHISPER="http://mlapi.run/..."
